In [23]:
# Importing required libraries for Web Scrapping
import requests
from bs4 import BeautifulSoup

In [25]:
# Creating an empty list of fields
anime_title=[]
ratings=[]
users=[]

In [26]:
##Extracting Anime_title by iterating through all pages
for page_number in range(1,6):
    page_response=requests.get(f'https://myanimelist.net/anime/producer/14/Sunrise?page={page_number}')
    page_soup=BeautifulSoup(page_response.text,'html.parser')
    titles=page_soup.find_all('a',{"class":"link-title"})
    for title in titles:
        anime_title.append(title.text)

In [27]:
### Extracting Ratings
for page_number in range(1,6):
    page_response=requests.get(f'https://myanimelist.net/anime/producer/14/Sunrise?page={page_number}')
    page_soup=BeautifulSoup(page_response.text,'html.parser')
    rates=page_soup.find_all('span',{"class":"score"})
    for rate in rates:
        ratings.append(rate.text)

In [28]:
###Extracting Users
for page_number in range(1,6):
    page_response=requests.get(f'https://myanimelist.net/anime/producer/14/Sunrise?page={page_number}')
    page_soup=BeautifulSoup(page_response.text,'html.parser')
    members=page_soup.find_all('span',{"class":"member fl-r"})
    for member in members:
        users.append(member.text)

In [29]:
#Pandas to create Dataframe and concat all fields
import pandas as pd

In [30]:
df1=pd.DataFrame(anime_title,columns=['Anime'])
df2=pd.DataFrame(ratings,columns=['Score'])
df3=pd.DataFrame(users,columns=['Members'])

In [31]:
frame=[df1,df2,df3]

In [32]:
Sunrise_DB=pd.concat(frame,axis=1)

In [33]:
Sunrise_DB.head()

,Anime,Score,Members
0,Code Geass: Hangyaku no Lelouch,\n 8.76\n,"\n 1,209,472\n"
1,Code Geass: Hangyaku no Lelouch R2,\n 8.93\n,"\n 974,767\n"
2,Cowboy Bebop,\n 8.81\n,"\n 910,419\n"
3,Gintama,\n 8.97\n,"\n 568,747\n"
4,Accel World,\n 7.45\n,"\n 509,230\n"

In [34]:
#Looks like there needs to be little data cleaning like removing new line, comma etc
Sunrise_DB['Score']=Sunrise_DB['Score'].str.replace('[\n]',"")

In [35]:
Sunrise_DB['Members']=Sunrise_DB['Members'].str.replace('[\n,]',"")

In [36]:
Sunrise_DB['Score']=Sunrise_DB['Score'].str.strip()

In [37]:
Sunrise_DB['Members']=Sunrise_DB['Members'].str.strip()

In [38]:
Sunrise_DB['Score']=Sunrise_DB['Score'].str.replace('[N/A]',"")

In [41]:
Sunrise_DB.head()

                                Anime Score  Members
0     Code Geass: Hangyaku no Lelouch  8.76  1209472
1  Code Geass: Hangyaku no Lelouch R2  8.93   974767
2                        Cowboy Bebop  8.81   910419
3                             Gintama  8.97   568747
4                         Accel World  7.45   509230